In [44]:
# Dependencies
import pandas as pd
import csv
import requests
from pprint import pprint
from scipy.stats import linregress
import matplotlib.pyplot as plt
from sodapy import Socrata
import os
import gmaps
from config import g_key

In [45]:
# Data collection - year 2022 - post-covid

client = Socrata("data.melbourne.vic.gov.au", app_token="PJ7LNUcljkE0xkoj2J0AzMeU4", username="david_salim2006@hotmail.com", password="David!2022")

results_2022 = client.get("b2ak-trbp", year= 2022, limit = 10000000)

results_2022_df = pd.DataFrame.from_records(results_2022)
results_2022_df.to_csv("foottrafficsdata2022.csv")
results_2022_df.head()

,id,date_time,year,month,mdate,day,time,sensor_id,sensor_name,hourly_counts
0,4231866,2022-04-05T15:00:00.000,2022,April,5,Tuesday,15,4,Town Hall (West),2132
1,4231867,2022-04-05T16:00:00.000,2022,April,5,Tuesday,16,4,Town Hall (West),2271
2,4231868,2022-04-05T17:00:00.000,2022,April,5,Tuesday,17,4,Town Hall (West),2966
3,4231869,2022-04-05T18:00:00.000,2022,April,5,Tuesday,18,4,Town Hall (West),2242
4,4231870,2022-04-05T19:00:00.000,2022,April,5,Tuesday,19,4,Town Hall (West),2008

In [46]:
# Data 2022 cleaning - data types

results_2022_df.dtypes

id               object
date_time        object
year             object
month            object
mdate            object
day              object
time             object
sensor_id        object
sensor_name      object
hourly_counts    object
dtype: object

In [47]:
# Data 2022 cleaning - data types
data_type_dict = {"id":int,"year":int,"mdate":int,"time":int,"hourly_counts":float}
results_2022_df = results_2022_df.astype(data_type_dict)

results_2022_df.dtypes

id                 int32
date_time         object
year               int32
month             object
mdate              int32
day               object
time               int32
sensor_id         object
sensor_name       object
hourly_counts    float64
dtype: object

In [48]:
# Data 2022 groupby
# results_2022_df= results_2022_df[(results_2022_df["time"] >= 12) & (results_2022_df["time"] <= 15)]
location = results_2022_df.groupby("sensor_name")
foottrafic_2022 = location["hourly_counts"].mean()

results_2022_groupby_df = pd.DataFrame({"Av foot traffic 2022": foottrafic_2022})
results_2022_groupby_df = results_2022_groupby_df.reset_index()
results_2022_groupby_df.rename(columns={"sensor_name":"location"},inplace=True)
results_2022_groupby_df

                          location  Av foot traffic 2022
0                    231 Bourke St            342.918322
1                     Alfred Place             97.101351
2                   Birrarung Marr            179.197531
3   Bourke St - Spencer St (North)            400.453918
4   Bourke St - Spencer St (South)             88.625000
..                             ...                   ...
67                Town Hall (West)           1030.714931
68                  Victoria Point             62.856512
69                 Waterfront City            126.705022
70                     Webb Bridge            147.818157
71                  Westwood Place             31.432395

[72 rows x 2 columns]

In [49]:
# Getting location coordinate

Location_list = results_2022_groupby_df["location"].tolist()

location = []
latitude = []
longitude = []

for i in Location_list:
    try:
        base_url = "https://maps.googleapis.com/maps/api/geocode/json"
        target_location2 = i + ", Melbourne Australia"
        params = {"address": target_location2, "key": g_key}
        response = requests.get(base_url, params=params)
        location_geo = response.json()
        lat = location_geo["results"][0]["geometry"]["location"]["lat"]
        lng = location_geo["results"][0]["geometry"]["location"]["lng"]
        print(f"{target_location2}: {lat}, {lng}")
        location.append(i)
        latitude.append(lat)
        longitude.append(lng)
    except:
        print("Target location not found")

231 Bourke St, Melbourne Australia: -37.8133992, 144.9668301
Alfred Place, Melbourne Australia: -37.8143404, 144.9701942
Birrarung Marr, Melbourne Australia: -37.8187351, 144.9742624
Bourke St - Spencer St (North), Melbourne Australia: -37.8170606, 144.9533436
Bourke St - Spencer St (South), Melbourne Australia: -37.8171069, 144.9531785
Bourke St Bridge, Melbourne Australia: -37.8159602, 144.9572025
Bourke St-Russell St (West), Melbourne Australia: -37.8128137, 144.968048
Bourke Street Mall (North), Melbourne Australia: -37.8137685, 144.9644379
Bourke Street Mall (South), Melbourne Australia: -37.8137685, 144.9644379
Chinatown-Lt Bourke St (South), Melbourne Australia: -37.812006, 144.9668036
Chinatown-Swanston St (North), Melbourne Australia: -37.8058235, 144.9631138
Collins Place (North), Melbourne Australia: -37.8144674, 144.9733256
Collins Place (South), Melbourne Australia: -37.8182937, 144.956676
Collins St (North), Melbourne Australia: -37.8182937, 144.956676
Elizabeth St - Flinders St (East) - New footpath, Melbourne Australia: -37.8181479, 144.9648712
Elizabeth St-La Trobe St (East), Melbourne Australia: -37.8102887, 144.9614233
Elizabeth St-Lonsdale St (South), Melbourne Australia: -37.8122041, 144.962311
Errol Street (East), Melbourne Australia: -37.8012559, 144.9500134
Faraday St-Lygon St (West), Melbourne Australia: -37.7986322, 144.9673519
Flinders La-Swanston St (West), Melbourne Australia: -37.8164851, 144.9669885
Flinders Ln - Degraves St (Crossing), Melbourne Australia: -37.8168836, 144.9656031
Flinders Ln - Degraves St (North), Melbourne Australia: -37.8168836, 144.9656031
Flinders Ln - Degraves St (South), Melbourne Australia: -37.8168836, 144.9656031
Flinders St (South), Melbourne Australia: -37.8185815, 144.9637799
Flinders St - ACMI, Melbourne Australia: -37.8175974, 144.9686881
Flinders Street Station Underpass, Melbourne Australia: -37.8182711, 144.9670618
Grattan St-Swanston St (West), Melbourne Australia: -37.8003998, 144.9638985
Harbour Esplanade (West) - Bike Path, Melbourne Australia: -37.8514722, 144.9681887
Harbour Esplanade (West) - Ped Path, Melbourne Australia: -37.8174417, 144.9459303
La Trobe St (North), Melbourne Australia: -37.8112453, 144.9581501
Lincoln-Swanston(West), Melbourne Australia: -37.8058235, 144.9631138
Little Collins St-Swanston St (East), Melbourne Australia: -37.8145013, 144.966084
Lonsdale St (South), Melbourne Australia: -37.8122489, 144.9621762
Lonsdale St - Elizabeth St (North), Melbourne Australia: -37.8122489, 144.9621762
Lonsdale St-Spring St (West), Melbourne Australia: -37.8093454, 144.9720377
Lygon St (East), Melbourne Australia: -37.7844784, 144.9697077
Lygon St (West), Melbourne Australia: -37.7844784, 144.9697077
Macaulay Rd (North), Melbourne Australia: -37.7970017, 144.9405919
Macaulay Rd - Bellair St, Melbourne Australia: -37.7944614, 144.9303886
Melbourne Central, Melbourne Australia: -37.8123652, 144.9623382
Melbourne Central-Elizabeth St (East), Melbourne Australia: -37.8102361, 144.9627652
Melbourne Convention Exhibition Centre, Melbourne Australia: -37.8252393, 144.9519166
Monash Rd-Swanston St (West), Melbourne Australia: -37.7985114, 144.9642048
New Quay, Melbourne Australia: -37.8143399, 144.9427283
Pelham St (South), Melbourne Australia: -37.8024538, 144.9637163
Princes Bridge, Melbourne Australia: -37.8192405, 144.9683463
QV Market-Elizabeth St (West), Melbourne Australia: -37.8066018, 144.9595718
QV Market-Peel St, Melbourne Australia: -37.8075798, 144.956785
QVM-Franklin St (North), Melbourne Australia: -37.8094943, 144.9561881
QVM-Queen St (East), Melbourne Australia: -37.8075798, 144.956785
QVM-Therry St (South), Melbourne Australia: -37.8075798, 144.956785
Queen St (West), Melbourne Australia: -37.8089044, 144.9290625
Queensberry St - Errol St (South), Melbourne Australia: -37.803108, 144.9496858
Royal Pde - Grattan St, Melbourne Australia: -37.7997236, 144.9573773
Sandridge Bridge, Melbourne Australia: -37.82003419999999, 144.963055
Southbank, Melbourne Australia: -37.82384, 144.9624973
Southern Cross Station, Melbourne Australia: -37.81839, 144.9525
Spencer St-Collins St (North), Melbourne Australia: -37.8189887, 144.9541878
Spencer St-Collins St (South), Melbourne Australia: -37.8190884, 144.9542388
Spring St - Flinders St (West), Melbourne Australia: -37.8153487, 144.9752337
St Kilda Rd-Alexandra Gardens, Melbourne Australia: -37.8204318, 144.9721339
State Library - New, Melbourne Australia: -37.8098087, 144.9651897
Swanston St - City Square, Melbourne Australia: -37.8058235, 144.9631138
Swanston St - RMIT Building 14, Melbourne Australia: -37.8075936, 144.9632783
Swanston St - RMIT Building 80, Melbourne Australia: -37.8081454, 144.9626885
The Arts Centre, Melbourne Australia: -37.820183, 144.9681048
Tin Alley-Swanston St (West), Melbourne Australia: -37.7967761, 144.9646266
Town Hall (West), Melbourne Australia: -37.8089044, 144.9290625
Victoria Point, Melbourne Australia: -37.8185564, 144.9469186
Waterfront City, Melbourne Australia: -37.8154599, 144.9391905
Webb Bridge, Melbourne Australia: -37.823352, 144.9473047
Westwood Place, Melbourne Australia: -37.8127086, 144.9715452

In [50]:
# create new df for location coordinate

location_dict = {
    "location": location,
    "Lat": latitude,
    "Lon": longitude,
    }
location_data_dict = pd.DataFrame(location_dict)

location_data_dict.head()

                         location        Lat         Lon
0                   231 Bourke St -37.813399  144.966830
1                    Alfred Place -37.814340  144.970194
2                  Birrarung Marr -37.818735  144.974262
3  Bourke St - Spencer St (North) -37.817061  144.953344
4  Bourke St - Spencer St (South) -37.817107  144.953179

In [51]:
# merging foot traffic data and coord data

data_summary_2022 = location_data_dict.merge(results_2022_groupby_df,how="left", on="location" )
data_summary_2022.to_csv ("datasummary2022.csv")
data_summary_2022.head(10)

sort_2022 = data_summary_2022.sort_values("Av foot traffic 2022", ascending=False).reset_index()
sort_2022

top_10_2022 = sort_2022.iloc[0:10,:]
top_10_2022

,index,location,Lat,Lon,Av foot traffic 2022
0,19,Flinders La-Swanston St (West),-37.816485,144.966989,1312.665839
1,55,Southbank,-37.823840,144.962497,1182.980960
2,67,Town Hall (West),-37.808904,144.929062,1030.714931
3,45,Princes Bridge,-37.819240,144.968346,900.117550
4,39,Melbourne Central,-37.812365,144.962338,883.459161
5,14,Elizabeth St - Flinders St (East) - New footpath,-37.818148,144.964871,815.621689
6,61,State Library - New,-37.809809,144.965190,748.142660
7,25,Flinders Street Station Underpass,-37.818271,144.967062,729.920530
8,7,Bourke Street Mall (North),-37.813769,144.964438,719.423565
9,41,Melbourne Convention Exhibition Centre,-37.825239,144.951917,697.614790

In [52]:
# creating google heatmap

# location & foot traffic input
lat_long = top_10_2022[["Lat", "Lon"]]
foottrafic = top_10_2022["Av foot traffic 2022"]

# Plot Heatmap
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(lat_long, weights=foottrafic, max_intensity=2000)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [53]:
# Restaurant nearby

top_resto_name = []
top_resto_address = []
top_resto_lat = []
top_resto_lng = []

for index, row in top_10_2022.iterrows():
    phrase = f"best restaurant in {row.location} Melbourne, Australia"
    target_url = "https://maps.googleapis.com/maps/api/place/textsearch/json"

    params = {"query": phrase,"key": g_key, "radius": 100, "type": "restaurant"}

    response = requests.get(target_url, params)
    # print(response.url)
    top_resto = response.json()
    counter = 0
    for place in top_resto["results"]:
        print(place["name"])
        print(place["formatted_address"])
        print(place["geometry"]["location"]["lat"])
        print(place["geometry"]["location"]["lng"])
        top_resto_name.append(place["name"])
        top_resto_address.append(place["formatted_address"])
        top_resto_lat.append(place["geometry"]["location"]["lat"])
        top_resto_lng.append(place["geometry"]["location"]["lng"])
        counter += 1
        if counter > 50:
            break

# phrase = f"best restaurant in Flinders La-Swanston St (West) Melbourne, Australia"
# target_url = "https://maps.googleapis.com/maps/api/place/textsearch/json"
# params = {"query": phrase,"key": g_key}

# response = requests.get(target_url, params)
# top_resto = response.json()
# # pprint(top_resto["results"]["name"])

# pprint(top_resto["results"][0]["geometry"]["location"]["lng"])

# # # pprint(top_resto)

Lollo
408 Flinders Ln, Melbourne VIC 3000, Australia
-37.8182761
144.9603053
Warabi
408 Flinders Ln, Melbourne VIC 3000, Australia
-37.8182761
144.9603053
Roule Galette
Shop 1/241 Flinders Ln, Melbourne VIC 3000, Australia
-37.8168239
144.9662818
Taxi Kitchen
Flinders Street &, Swanston St, Melbourne VIC 3000, Australia
-37.8184283
144.9683284
Hazel
164 Flinders Ln, Melbourne VIC 3000, Australia
-37.8158872
144.9687316
Tian38
350 Flinders Ln, Melbourne VIC 3000, Australia
-37.8176591
144.9627095
Go Hahn
348 Flinders Ln, Melbourne VIC 3000, Australia
-37.8176221
144.9628415
Brunetti Oro Flinders Lane
250 Flinders Ln, Melbourne VIC 3000, Australia
-37.8167025
144.96584
Greta
450 Flinders Ln, Melbourne VIC 3000, Australia
-37.8187583
144.9588661
Saluministi Flinders Lane
388 Flinders Ln, Melbourne VIC 3000, Australia
-37.818121
144.9610715
Culprit
408 Flinders Ln, Melbourne VIC 3000, Australia
-37.8182761
144.9603053
Kisumé
175 Flinders Ln, Melbourne VIC 3000, Australia
-37.8162147
144.9687994
Chin Chin
125 Flinders Ln, Melbourne VIC 3000, Australia
-37.815614
144.970377
Yarra Falls
381 Flinders Ln, Melbourne VIC 3000, Australia
-37.8182244
144.9613757
Shujinko Flinders
Shop 13/276 Flinders St, Melbourne VIC 3000, Australia
-37.8179251
144.9651268
Mabu Mabu
Cnr Swanston Street and, Flinders St, Melbourne VIC 3000, Australia
-37.81811640000001
144.9691755
Cookie
252 Swanston St, Melbourne VIC 3000, Australia
-37.8120053
144.965164
Grain Store
517 Flinders Ln, Melbourne VIC 3000, Australia
-37.8197517
144.956651
Time Out Fed Square
2 Swanston St, Melbourne VIC 3000, Australia
-37.8176674
144.9683312
Cuff
GF, 325 Flinders Ln, Melbourne VIC 3000, Australia
-37.81757630000001
144.9634445
The Deck Southbank
UPPER, LEVEL U1/2 Southgate Ave, Southbank VIC 3006, Australia
-37.8201534
144.9668346
La Camera Southgate
Shop, MR2/3 Southgate Ave, Southbank VIC 3006, Australia
-37.8199889
144.9667972
The Meat & Wine Co Southbank
3 Queens Bridge St, Southbank VIC 3006, Australia
-37.821956
144.9608576
Left Bank Melbourne Restaurant & Cocktail Bar
1 Southbank Blvd, Southbank VIC 3006, Australia
-37.8210084
144.9628614
Saporito Taquito
16 Kavanagh St, Southbank VIC 3006, Australia
-37.8227143
144.9663706
Miyako Japanese Cuisine & Teppanyaki
Southgate Arts & Leisure Precinct, Shop, UR2/3 Southgate Ave, Southbank VIC 3006, Australia
-37.8201378
144.9665086
Asado
6 Riverside Quay, Southbank VIC 3006, Australia
-37.8208984
144.9640633
Soho Restaurant and Bar
2/4 Riverside Quay, Southbank VIC 3006, Australia
-37.8207191
144.9634698
Rockpool Bar & Grill
Crown Casino, 8 Whiteman St, Southbank VIC 3006, Australia
-37.8218482
144.96027
Eureka 89 Dining & Events - Fine Dining Restaurant Melbourne
Level 89, Eureka Tower, 7 Riverside Quay, Southbank VIC 3006, Australia
-37.821413
144.964471
Spice Temple
8 Whiteman St, Southbank VIC 3006, Australia
-37.8219651
144.9599672
The Breslin Bar & Grill
1 Southbank Blvd, Southbank VIC 3006, Australia
-37.8208499
144.9629618
Bluetrain
3 Southgate Ave, Southbank VIC 3006, Australia
-37.8201184
144.9662684
YASSAS THE GREEK WAY - SOUTHBANK
4-9, Level M/3 Southgate Ave, Southbank VIC 3006, Australia
-37.8201217
144.9661924
Koko
Level 3, Crown Towers, 8 Whiteman St, Southbank VIC 3006, Australia
-37.8220786
144.9598287
Gradi at Crown
8 Whiteman St, Southbank VIC 3006, Australia
-37.8227725
144.9583346
Pure South Kitchen
GR2 River Level Southgate Precinct, 3 Southgate Ave, Southbank VIC 3006, Australia
-37.8202814
144.9652412
Saké Restaurant & Bar
100 St Kilda Rd, Southbank VIC 3004, Australia
-37.8199177
144.9677708
Red Emperor (Southgate) Chinese Restaurant
M10/3 Southgate Ave, Southbank VIC 3006, Australia
-37.8200814
144.9664159
Hopscotch Melbourne
Ground Floor, 4 Riverside Quay, Southbank VIC 3006, Australia
-37.820722
144.963457
Amiconi Restaurant
359 Victoria St, West Melbourne VIC 3003, Australia
-37.80531670000001
144.9495933
The Hardware Club
43 Hardware Lane Upstairs, Melbourne VIC 3000, Australia
-37.81357089999999
144.961096
Palermo Restaurant
401 Little Bourke St, Melbourne VIC 3000, Australia
-37.813901
144.960994
Sassy Italian Restaurant
1 Dryburgh St, West Melbourne VIC 3003, Australia
-37.8070035
144.9425483
Hello José
85 Peel St, West Melbourne VIC 3003, Australia
-37.8061973
144.9556723
Warung Agus
305 Victoria St, West Melbourne VIC 3003, Australia
-37.8055149
144.9513359
Hansang
347/349 King St, West Melbourne VIC 3003, Australia
-37.812149
144.953494
Chickilia
89 Peel St, West Melbourne VIC 3003, Australia
-37.8060762
144.9556854
Royal Standard Hotel
333 William St, West Melbourne VIC 3003, Australia
-37.807831
144.9542788
JUSIK
Shop1/39-47 Peel St, West Melbourne VIC 3003, Australia
-37.8071843
144.9554305
Little Africa Restaurant
223 Victoria St, West Melbourne VIC 3003, Australia
-37.8058017
144.9540495
Smile Thai Cuisine
357 Victoria St, West Melbourne VIC 3003, Australia
-37.8053499
144.9496255
Miznon
59 Hardware Ln, Melbourne VIC 3000, Australia
-37.81347179999999
144.9610934
The Secret Recipe, Indian Fusion Restaurant
495-497 Spencer St, West Melbourne VIC 3003, Australia
-37.8089147
144.9488712
The Kathmandu Cottage
349 Victoria St, West Melbourne VIC 3003, Australia
-37.805392
144.9498101
Apollo Café
109-111 Hawke St, West Melbourne VIC 3003, Australia
-37.8078222
144.9465719
Osteria Ilaria
367 Little Bourke St, Melbourne VIC 3000, Australia
-37.8136075
144.9619069
Rice Paper Scissors
15 Hardware Ln, Melbourne VIC 3000, Australia
-37.8142795
144.9614222
Royal Mail on Spencer St
519 Spencer St, West Melbourne VIC 3003, Australia
-37.8084005
144.9483773
Witches In Britches
84 Dudley St, West Melbourne VIC 3003, Australia
-37.8088685
144.9525653
Riverland Bar
Federation Wharf Vaults 1-9 under Princes Bridge, Melbourne VIC 3000, Australia
-37.8187378
144.9688304
Hazel
164 Flinders Ln, Melbourne VIC 3000, Australia
-37.8158872
144.9687316
Spirit Of Melbourne Cruising Restaurant
Southbank Promenade, Southbank Berth 1, Melbourne VIC 3006, Australia
-37.8199496
144.9655336
Eureka 89 Dining & Events - Fine Dining Restaurant Melbourne
Level 89, Eureka Tower, 7 Riverside Quay, Southbank VIC 3006, Australia
-37.821413
144.964471
Gimlet at Cavendish House
33 Russell St, Melbourne VIC 3000, Australia
-37.8158812
144.9693376
Asado
6 Riverside Quay, Southbank VIC 3006, Australia
-37.8208984
144.9640633
Ponyfish Island
Evan Walker Bridge, Southbank VIC 3006, Australia
-37.8199156
144.9649955
Lee Ho Fook
11-15 Duckboard Pl, Melbourne VIC 3000, Australia
-37.8155972
144.9713087
Tippy-Tay
101 Flinders Ln, Melbourne VIC 3000, Australia
-37.81540890000001
144.971052
Cumulus Up.
F1/45 Flinders Ln, Melbourne VIC 3000, Australia
-37.814764
144.973053
Federici Bistro
163 Spring St, Melbourne VIC 3000, Australia
-37.81075999999999
144.9725846
The Deck Southbank
UPPER, LEVEL U1/2 Southgate Ave, Southbank VIC 3006, Australia
-37.8201534
144.9668346
Mabu Mabu
Cnr Swanston Street and, Flinders St, Melbourne VIC 3000, Australia
-37.81811640000001
144.9691755
La Camera Southgate
Shop, MR2/3 Southgate Ave, Southbank VIC 3006, Australia
-37.8199889
144.9667972
Pure South Kitchen
GR2 River Level Southgate Precinct, 3 Southgate Ave, Southbank VIC 3006, Australia
-37.8202814
144.9652412
Pilgrim Bar
15-19 Federation Wharf, Melbourne VIC 3000, Australia
-37.8187208
144.9694005
Taxi Kitchen
Flinders Street &, Swanston St, Melbourne VIC 3000, Australia
-37.8184283
144.9683284
Il Bacaro
168-170 Little Collins St, Melbourne VIC 3000, Australia
-37.8138632
144.967994
Felt Restaurant
26 Flinders St, Melbourne VIC 3000, Australia
-37.8154758
144.9736691
Pastuso
19 AC/DC La, Melbourne VIC 3000, Australia
-37.81582969999999
144.9710311
Tipo 00
361 Little Bourke St, Melbourne VIC 3000, Australia
-37.8135522
144.9619835
Osteria Ilaria
367 Little Bourke St, Melbourne VIC 3000, Australia
-37.8136075
144.9619069
Sunda Dining
18 Punch Ln, Melbourne VIC 3000, Australia
-37.8103547
144.9711635
Sezar Restaurant
6 Melbourne Pl, Melbourne VIC 3000, Australia
-37.8134041
144.9689668
Il Bacaro
168-170 Little Collins St, Melbourne VIC 3000, Australia
-37.8138632
144.967994
Maha Restaurant
21 Bond St, Melbourne VIC 3000, Australia
-37.8181528
144.962662
The Hardware Club
43 Hardware Lane Upstairs, Melbourne VIC 3000, Australia
-37.81357089999999
144.961096
Chin Chin
125 Flinders Ln, Melbourne VIC 3000, Australia
-37.815614
144.970377
Lee Ho Fook
11-15 Duckboard Pl, Melbourne VIC 3000, Australia
-37.8155972
144.9713087
Palermo Restaurant
401 Little Bourke St, Melbourne VIC 3000, Australia
-37.813901
144.960994
San Telmo
14 Meyers Pl, Melbourne VIC 3000, Australia
-37.8121636
144.9724132
Gyoza Gyoza
Level 1, Melbourne Central, La Trobe Street Entrance, VIC 3000, Australia
-37.8100824
144.9627749
The French Brasserie
2 Malthouse Ln, Melbourne VIC 3000, Australia
-37.8152705
144.9715326
Foglia Di Fico
585 La Trobe St, Melbourne VIC 3000, Australia
-37.8133623
144.9517568
Flower Drum Restaurant Melbourne
17 Market Ln, Melbourne VIC 3000, Australia
-37.8118772
144.9692458
Hochi Mama
35 Little Bourke St, Melbourne VIC 3000, Australia
-37.81075999999999
144.9717076
Pretty Boy Italian Steakhouse
level 1/399 Little Lonsdale St, Melbourne VIC 3000, Australia
-37.8119675
144.9600506
Grill'd
Melbourne Central, Level 3 Cnr Latrobe St &, Swanston St, Melbourne VIC 3000, Australia
-37.8101221
144.962971
RuYi Modern Chinese
Ground Floor, 16 Liverpool St, Melbourne VIC 3000, Australia
-37.8111063
144.9714699
Coda Melbourne
Basement/141 Flinders Ln, Melbourne VIC 3000, Australia
-37.8157661
144.9698897
Chin Chin
125 Flinders Ln, Melbourne VIC 3000, Australia
-37.815614
144.970377
Cecconi's Flinders Lane Restaurant & Cellar Bar
61 Flinders Ln, Melbourne VIC 3000, Australia
-37.8150555
144.9725293
Coda Melbourne
Basement/141 Flinders Ln, Melbourne VIC 3000, Australia
-37.8157661
144.9698897
Supernormal
180 Flinders Ln, Melbourne VIC 3000, Australia
-37.8159071
144.9683863
Hazel
164 Flinders Ln, Melbourne VIC 3000, Australia
-37.8158872
144.9687316
Kisumé
175 Flinders Ln, Melbourne VIC 3000, Australia
-37.8162147
144.9687994
MoVida Next Door
164 Flinders St, Melbourne VIC 3000, Australia
-37.8167734
144.9692274
Tippy-Tay
101 Flinders Ln, Melbourne VIC 3000, Australia
-37.81540890000001
144.971052
Akaiito Restaurant
349-351 Flinders Ln, Melbourne VIC 3000, Australia
-37.8177744
144.9628295
MoVida
1 Hosier Ln, Melbourne VIC 3000, Australia
-37.8167002
144.9691994
The European
161 Spring St, Melbourne VIC 3000, Australia
-37.8109247
144.9725716
Fonda Mexican
31 Flinders Ln, Melbourne VIC 3000, Australia
-37.814891
144.9732909
Cumulus Up.
F1/45 Flinders Ln, Melbourne VIC 3000, Australia
-37.814764
144.973053
Di Stasio Citta
45 Spring St, Melbourne VIC 3004, Australia
-37.8142549
144.9741857
The Meatball & Wine Bar - Flinders Lane
135 Flinders Ln, Melbourne VIC 3000, Australia
-37.8156417
144.9700889
Shujinko Flinders
Shop 13/276 Flinders St, Melbourne VIC 3000, Australia
-37.8179251
144.9651268
NOMAD Melbourne
187 Flinders Ln, Melbourne VIC 3000, Australia
-37.8161891
144.9683115
Lollo
408 Flinders Ln, Melbourne VIC 3000, Australia
-37.8182761
144.9603053
Desi Dhaba
134 Flinders St, Melbourne VIC 3000, Australia
-37.8163397
144.970469
Tazio
91 Flinders Ln, Melbourne VIC 3000, Australia
-37.815375
144.9711894
The Moat
176 Little Lonsdale St, Melbourne VIC 3000, Australia
-37.810162
144.9653789
Osteria Ilaria
367 Little Bourke St, Melbourne VIC 3000, Australia
-37.8136075
144.9619069
The Hardware Club
43 Hardware Lane Upstairs, Melbourne VIC 3000, Australia
-37.81357089999999
144.961096
Cookie
252 Swanston St, Melbourne VIC 3000, Australia
-37.8120053
144.965164
Punch Lane Wine Bar & Restaurant
43 Little Bourke St, Melbourne VIC 3000, Australia
-37.8108555
144.9713535
Tipo 00
361 Little Bourke St, Melbourne VIC 3000, Australia
-37.8135522
144.9619835
Stalactites Restaurant
177/183 Lonsdale St, Melbourne VIC 3000, Australia
-37.8110808
144.9670491
Il Bacaro
168-170 Little Collins St, Melbourne VIC 3000, Australia
-37.8138632
144.967994
1932 Cafe & Restaurant
220 Collins St, Melbourne VIC 3000, Australia
-37.81534500000001
144.9663045
ARU Restaurant
268 Little Collins St, Melbourne VIC 3000, Australia
-37.8144236
144.9656851
Lesa
level 1/122 Russell St, Melbourne VIC 3000, Australia
-37.813423
144.9686637
Sunda Dining
18 Punch Ln, Melbourne VIC 3000, Australia
-37.8103547
144.9711635
Claypots Barbarossa
79 Hardware Ln, Melbourne VIC 3000, Australia
-37.8129361
144.9608111
French Saloon
First Floor, 46 Hardware Ln, Melbourne VIC 3000, Australia
-37.813593
144.961287
Operator25
25 Wills St, Melbourne VIC 3000, Australia
-37.8106796
144.9569892
Bar Lourinhã
37 Little Collins St, Melbourne VIC 3000, Australia
-37.812815
144.9725185
Ca De Vin
Melbourne GPO, 350 Bourke St, Melbourne VIC 3000, Australia
-37.8138627
144.9636075
Kaikey's Lane
30 Block Pl, Melbourne VIC 3000, Australia
-37.815303
144.9644096
Seamstress Restaurant and Bar
113 Lonsdale St, Melbourne VIC 3000, Australia
-37.8105595
144.9690135
Lucy Liu Kitchen and Bar
23 Oliver Ln, Melbourne VIC 3000, Australia
-37.8159928
144.9699538
Roule Galette
Shop 1/241 Flinders Ln, Melbourne VIC 3000, Australia
-37.8168239
144.9662818
Cumulus Up.
F1/45 Flinders Ln, Melbourne VIC 3000, Australia
-37.814764
144.973053
Hazel
164 Flinders Ln, Melbourne VIC 3000, Australia
-37.8158872
144.9687316
Shujinko Flinders
Shop 13/276 Flinders St, Melbourne VIC 3000, Australia
-37.8179251
144.9651268
Cecconi's Flinders Lane Restaurant & Cellar Bar
61 Flinders Ln, Melbourne VIC 3000, Australia
-37.8150555
144.9725293
Taxi Kitchen
Flinders Street &, Swanston St, Melbourne VIC 3000, Australia
-37.8184283
144.9683284
Brunetti Oro Flinders Lane
250 Flinders Ln, Melbourne VIC 3000, Australia
-37.8167025
144.96584
The Meatball & Wine Bar - Flinders Lane
135 Flinders Ln, Melbourne VIC 3000, Australia
-37.8156417
144.9700889
MoVida Next Door
164 Flinders St, Melbourne VIC 3000, Australia
-37.8167734
144.9692274
Clocks at Flinders
Shop 17 The Concourse Flinders Street Station, VIC 3000, Australia
-37.8185331
144.9676372
Arbory Bar & Eatery
1 Flinders Walk, Melbourne VIC 3000, Australia
-37.8191298
144.9662274
Coda Melbourne
Basement/141 Flinders Ln, Melbourne VIC 3000, Australia
-37.8157661
144.9698897
Chin Chin
125 Flinders Ln, Melbourne VIC 3000, Australia
-37.815614
144.970377
Fonda Mexican
31 Flinders Ln, Melbourne VIC 3000, Australia
-37.814891
144.9732909
Supernormal
180 Flinders Ln, Melbourne VIC 3000, Australia
-37.8159071
144.9683863
Grain Store
517 Flinders Ln, Melbourne VIC 3000, Australia
-37.8197517
144.956651
Kisumé
175 Flinders Ln, Melbourne VIC 3000, Australia
-37.8162147
144.9687994
Pho Flinders Express
288/290 Flinders St, Melbourne VIC 3000, Australia
-37.81807540000001
144.9646432
Cumulus Inc.
45 Flinders Ln, Melbourne VIC 3000, Australia
-37.81491320000001
144.9731229
Swiss Club Restaurant
89 Flinders Ln, Melbourne VIC 3000, Australia
-37.8152556
144.971368
Palermo Restaurant
401 Little Bourke St, Melbourne VIC 3000, Australia
-37.813901
144.960994
Osteria Ilaria
367 Little Bourke St, Melbourne VIC 3000, Australia
-37.8136075
144.9619069
Mum Mum Asian Street Food
67 Flemington Rd, North Melbourne VIC 3051, Australia
-37.799353
144.953975
Tipo 00
361 Little Bourke St, Melbourne VIC 3000, Australia
-37.8135522
144.9619835
The Rice Cooker
Shop 3/33 Flemington Rd, North Melbourne VIC 3051, Australia
-37.80035700000001
144.955367
Ca De Vin
Melbourne GPO, 350 Bourke St, Melbourne VIC 3000, Australia
-37.8138627
144.9636075
+39 Pizzeria CBD
362 Little Bourke St, Melbourne VIC 3000, Australia
-37.813468
144.961833
Hochi Mama
35 Little Bourke St, Melbourne VIC 3000, Australia
-37.81075999999999
144.9717076
Bottega Restaurant
74 Bourke St, Melbourne VIC 3000, Australia
-37.8117723
144.9710499
Sosta Cucina
12 Errol St, North Melbourne VIC 3051, Australia
-37.8047811
144.9495167
Papa Giuseppe Pizza
348 Abbotsford St, North Melbourne VIC 3051, Australia
-37.7988083
144.9463636
KL Bunga Raya
34 Errol St, North Melbourne VIC 3051, Australia
-37.8043473
144.9495569
Punch Lane Wine Bar & Restaurant
43 Little Bourke St, Melbourne VIC 3000, Australia
-37.8108555
144.9713535
Bangkok Jam Melbourne
107 Little Bourke St, Melbourne VIC 3000, Australia
-37.811493
144.969262
Wagaya Melbourne
201/200 Bourke St, Melbourne VIC 3000, Australia
-37.812449
144.9673463
9 Face Thai Cuisine
362 Abbotsford St, North Melbourne VIC 3051, Australia
-37.798137
144.9465379
Tahini Lebanese Diner
518 Little Bourke St, Melbourne VIC 3000, Australia
-37.814711
144.9567462
Spice World Hot Pot Melbourne
172-176 Little Bourke St, Melbourne VIC 3000, Australia
-37.8118599
144.9671337
MoVida Aqui
1, NAB/500 Bourke St, Melbourne VIC 3000, Australia
-37.8146717
144.9584656
Fancy Hank's Barbecue Restaurant
1/79 Bourke St, Melbourne VIC 3000, Australia
-37.81217
144.971057
The General Assembly
29 S Wharf Promenade, South Wharf VIC 3006, Australia
-37.82421679999999
144.9519122
Dock 37 Bar & Kitchen
2 Convention Centre Pl, South Wharf VIC 3006, Australia
-37.8250869
144.9511558
South Wharf Restaurants
S Wharf Promenade, South Wharf VIC 3006, Australia
-37.8245553
144.9523349
The Boatbuilders Yard
23 S Wharf Promenade, South Wharf VIC 3006, Australia
-37.824115
144.953055
Munich Brauhaus Melbourne
45 S Wharf Promenade, South Wharf VIC 3006, Australia
-37.8241606
144.9501916
Akachochin
33 S Wharf Promenade, South Wharf VIC 3006, Australia
-37.824233
144.951595
BangPop
35 S Wharf Promenade, South Wharf VIC 3006, Australia
-37.824201
144.95135
Byblos Bar & Restaurant
18-38 Siddeley St, Docklands VIC 3008, Australia
-37.8232203
144.9534164
Man Mo WTC 文武
WTC Wharf Precinct, 18/38 Siddeley St, VIC 3008, Australia
-37.8230794
144.9539024
Angliss Restaurant
550 Little Lonsdale St, Melbourne VIC 3000, Australia
-37.8138337
144.9525798
The Wharf Hotel Melbourne
18/38 Siddeley St, Docklands VIC 3005, Australia
-37.8226739
144.953839
Lûmé
226 Coventry St, South Melbourne VIC 3205, Australia
-37.831364
144.9613536
Mr. Hive Kitchen & Bar
Level 1 Crown Metropol, Crown Melbourne, 8 Whiteman St, Southbank VIC 3006, Australia
-37.8255556
144.9575
Taxi Kitchen
Flinders Street &, Swanston St, Melbourne VIC 3000, Australia
-37.8184283
144.9683284
Melbourne Public
11 Dukes Walk, South Wharf VIC 3006, Australia
-37.8244444
144.9511111
Plus 5
37 S Wharf Promenade, South Wharf VIC 3006, Australia
-37.8242047
144.9510909
Sunda Dining
18 Punch Ln, Melbourne VIC 3000, Australia
-37.8103547
144.9711635
Rosa's Canteen
Level 1, Cnr Lt Bourke and, Thompson St, Melbourne VIC 3000, Australia
-37.8145675
144.9586029
Vue de monde
55 Rialto Towers, 525 Collins St, Melbourne VIC 3000, Australia
-37.8187
144.9576
Mabu Mabu
Cnr Swanston Street and, Flinders St, Melbourne VIC 3000, Australia
-37.81811640000001
144.9691755

In [54]:
top_resto_dict = {
    "name": top_resto_name,
    "address": top_resto_address, 
    "Lat": top_resto_lat,
    "Lon": top_resto_lng,
    }
top_resto_df = pd.DataFrame(top_resto_dict)

top_resto_df
len(top_resto_df)

200

In [62]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{name}</dd>
<dt>Address</dt><dd>{address}</dd>
</dl>
"""

resto_info = [info_box_template.format(**row) for index, row in top_resto_df.iterrows()]
locations = top_resto_df[["Lat", "Lon"]]

# Add marker layer ontop of heat map
marker_layer=gmaps.marker_layer(locations, info_box_content=resto_info)
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

## Correlation Analysis - daily average foot traffic vs. daily temperature 2019

In [115]:
# daily temperature year 2019

weather_df = pd.read_csv("IDCJAC0010_086338_2019_Data.csv")
weather_df.head()

,Product code,Bureau of Meteorology station number,Year,Month,Day,Maximum temperature (Degree C),Days of accumulation of maximum temperature,Quality
0,IDCJAC0010,86338,2019,1,1,26.2,1,Y
1,IDCJAC0010,86338,2019,1,2,22.2,1,Y
2,IDCJAC0010,86338,2019,1,3,29.5,1,Y
3,IDCJAC0010,86338,2019,1,4,42.6,1,Y
4,IDCJAC0010,86338,2019,1,5,21.2,1,Y

In [116]:
# Data 2019 cleaning

weather_df.dtypes

Product code                                    object
Bureau of Meteorology station number             int64
Year                                             int64
Month                                            int64
Day                                              int64
Maximum temperature (Degree C)                 float64
Days of accumulation of maximum temperature      int64
Quality                                         object
dtype: object

In [117]:
# Data 2019 cleaning - data types
weather_data_type_dict = {"Month":object,"Day":object}
weather_df = weather_df.astype(weather_data_type_dict)

weather_df.dtypes

Product code                                    object
Bureau of Meteorology station number             int64
Year                                             int64
Month                                           object
Day                                             object
Maximum temperature (Degree C)                 float64
Days of accumulation of maximum temperature      int64
Quality                                         object
dtype: object

In [120]:
weather_df ["Month"] = weather_df ["Month"].replace({1:'January',2:'February',3:'March',4:'April',5:'May',6:'June',7:"July",8:"August",9:"September",10:"October",11:"November",12:"December"})

weather_df

,Product code,Bureau of Meteorology station number,Year,Month,Day,Maximum temperature (Degree C),Days of accumulation of maximum temperature,Quality
0,IDCJAC0010,86338,2019,January,1,26.2,1,Y
1,IDCJAC0010,86338,2019,January,2,22.2,1,Y
2,IDCJAC0010,86338,2019,January,3,29.5,1,Y
3,IDCJAC0010,86338,2019,January,4,42.6,1,Y
4,IDCJAC0010,86338,2019,January,5,21.2,1,Y
...,...,...,...,...,...,...,...,...
360,IDCJAC0010,86338,2019,December,27,23.9,1,Y
361,IDCJAC0010,86338,2019,December,28,28.4,1,Y
362,IDCJAC0010,86338,2019,December,29,33.2,1,Y
363,IDCJAC0010,86338,2019,December,30,40.8,1,Y
364,IDCJAC0010,86338,2019,December,31,21.2,1,Y

In [121]:
#Still not working properly
weather_df ["month+day"] = weather_df ["Month"] + str(weather_df ["Day"])
weather_df

,Product code,Bureau of Meteorology station number,Year,Month,Day,Maximum temperature (Degree C),Days of accumulation of maximum temperature,Quality,month+day
0,IDCJAC0010,86338,2019,January,1,26.2,1,Y,January0 1\n1 2\n2 3\n3 ...
1,IDCJAC0010,86338,2019,January,2,22.2,1,Y,January0 1\n1 2\n2 3\n3 ...
2,IDCJAC0010,86338,2019,January,3,29.5,1,Y,January0 1\n1 2\n2 3\n3 ...
3,IDCJAC0010,86338,2019,January,4,42.6,1,Y,January0 1\n1 2\n2 3\n3 ...
4,IDCJAC0010,86338,2019,January,5,21.2,1,Y,January0 1\n1 2\n2 3\n3 ...
...,...,...,...,...,...,...,...,...,...
360,IDCJAC0010,86338,2019,December,27,23.9,1,Y,December0 1\n1 2\n2 3\n3 ...
361,IDCJAC0010,86338,2019,December,28,28.4,1,Y,December0 1\n1 2\n2 3\n3 ...
362,IDCJAC0010,86338,2019,December,29,33.2,1,Y,December0 1\n1 2\n2 3\n3 ...
363,IDCJAC0010,86338,2019,December,30,40.8,1,Y,December0 1\n1 2\n2 3\n3 ...
364,IDCJAC0010,86338,2019,December,31,21.2,1,Y,December0 1\n1 2\n2 3\n3 ...

In [57]:
# Data collection - year 2019 - post-covid

client = Socrata("data.melbourne.vic.gov.au", app_token="PJ7LNUcljkE0xkoj2J0AzMeU4", username="david_salim2006@hotmail.com", password="David!2022")

results_2019 = client.get("b2ak-trbp", year= 2019, limit = 10000000)

results_2019_df = pd.DataFrame.from_records(results_2019)
results_2019_df.to_csv("foottrafficsdata2019.csv")

results_2019_df.head()

,id,date_time,year,month,mdate,day,time,sensor_id,sensor_name,hourly_counts
0,2887628,2019-11-01T17:00:00.000,2019,November,1,Friday,17,34,Flinders St-Spark La,300
1,2887629,2019-11-01T17:00:00.000,2019,November,1,Friday,17,39,Alfred Place,604
2,2887630,2019-11-01T17:00:00.000,2019,November,1,Friday,17,37,Lygon St (East),216
3,2887631,2019-11-01T17:00:00.000,2019,November,1,Friday,17,40,Lonsdale St-Spring St (West),627
4,2887632,2019-11-01T17:00:00.000,2019,November,1,Friday,17,36,Queen St (West),774

In [58]:
# Data 2019 cleaning - data types
data_type_dict2 = {"id":int,"year":int,"mdate":object,"time":int,"hourly_counts":float}
results_2019_df = results_2019_df.astype(data_type_dict2)

results_2019_df.dtypes

id                 int32
date_time         object
year               int32
month             object
mdate             object
day               object
time               int32
sensor_id         object
sensor_name       object
hourly_counts    float64
dtype: object

In [77]:
results_2019_df ["month+day"] = results_2019_df ["month"] + results_2019_df ["mdate"]
# results_2019_df.to_csv("2019.csv")
results_2019_df

,id,date_time,year,month,mdate,day,time,sensor_id,sensor_name,hourly_counts,month+day
0,2887628,2019-11-01T17:00:00.000,2019,November,1,Friday,17,34,Flinders St-Spark La,300.0,November1
1,2887629,2019-11-01T17:00:00.000,2019,November,1,Friday,17,39,Alfred Place,604.0,November1
2,2887630,2019-11-01T17:00:00.000,2019,November,1,Friday,17,37,Lygon St (East),216.0,November1
3,2887631,2019-11-01T17:00:00.000,2019,November,1,Friday,17,40,Lonsdale St-Spring St (West),627.0,November1
4,2887632,2019-11-01T17:00:00.000,2019,November,1,Friday,17,36,Queen St (West),774.0,November1
...,...,...,...,...,...,...,...,...,...,...,...
456824,2886659,2019-10-31T23:00:00.000,2019,October,31,Thursday,23,57,Bourke St Bridge,73.0,October31
456825,2886660,2019-10-31T23:00:00.000,2019,October,31,Thursday,23,58,Bourke St - Spencer St (North),312.0,October31
456826,2886661,2019-10-31T23:00:00.000,2019,October,31,Thursday,23,59,Swanston St - RMIT Building 80,3.0,October31
456827,2886662,2019-10-31T23:00:00.000,2019,October,31,Thursday,23,61,Swanston St - RMIT Building 14,320.0,October31
456828,2886663,2019-10-31T23:00:00.000,2019,October,31,Thursday,23,62,La Trobe St (North),100.0,October31

In [63]:
# Data 2019 groupby & calculation

location_2019 = results_2019_df.groupby("month+day")
daily_foottrafic_2019 = location_2019["hourly_counts"].mean()

results_2019_groupby_df = pd.DataFrame({"Av foot traffic 2019": daily_foottrafic_2019})
results_2019_groupby_df = results_2019_groupby_df.reset_index()
results_2019_groupby_df.rename(columns={"sensor_name":"location"},inplace=True)
results_2019_groupby_df

      month+day  Av foot traffic 2019
0        April1            610.847500
1       April10            714.683333
2       April11            729.284167
3       April12            817.252500
4       April13            626.582500
..          ...                   ...
360  September5            621.719907
361  September6            688.225309
362  September7            472.995370
363  September8            358.966049
364  September9            529.356481

[365 rows x 2 columns]